imported "tectonic-os" {
    content "0f4b467f0befea6a479c6a7f1f97b8e433d1164d0864e1622637dc49cfecefdb"
    pin {
        unpinned "This is the trusted source for modules"
        version "main"
        url "https://github.com/tectonic-os/modules/archive/refs/heads/{version}.tar.gz"
    }
}
