image {
    name "Desktop"
    conforms "standard"
    url "https://github.com/tectonic-os/desktop"
    issues-url "https://github.com/tectonic-os/desktop/issues"
    description "A KDE Plasma workstation on fedora-bootc"
    keywords "bootc" "fedora" "kde" "plasma" "desktop"
    logo-url "https://github.com/tectonic-os.png"

    base "quay.io/fedora/fedora-bootc:44" {
        family "fedora"
        provides "rechunking" "initramfs-generation" "selinux-policy"
        signed #false
    }

    flavours {
        dx
    }

    modules {
        source "tectonic-os" {
            module "fedora-family/build-environment"
            module "fedora-family/workstation-debloat"
            module "system-menu/just-runner"
            module "boot/os-prober"
            module "updates/signature-policy"
            module "updates/auto-updates"
            module "system-menu/system-scripts"
            module "flatpak"
            module "tools/brew"
            module "tools/cli-tools"
            module "hardening/coredumps"
            module "hardening/login-policy"
            module "hardening/hardened-malloc"
            module "hardening/sudo-hardening"
            module "boot/plymouth"
            module "desktop/kde"
            module "desktop/bazaar"
            module "fedora-family/media-codecs"
            module "tect"
        }

        flavour "dx" {
            source "tectonic-os" {
                module "tools/git-tools"
                module "virt/podman-extras"
                module "virt/libvirt"
                module "tools/vscodium"
            }
        }
    }
}
