schema-version 1
name "Desktop"

// renovate: datasource=github-releases depName=tectonic-os/tectonic
tect-version "0.6.4" sha256="d10fa8afa2afb8960780ae43a1cad87d3a5e8a0982de2e298ecf944cfcdcb2fd"

workflows at="12:30" publish="scheduled" {
    base-sig-probe
    build
    build-disk
    cleanup-registry
    smoke-test
}

sources {
    tectonic-os {
        pin {
            unpinned "This is the trusted source for modules"
            version "main"
            url "https://github.com/tectonic-os/modules/archive/refs/heads/{version}.tar.gz"
        }
    }
}
