schema-version 1
name "Desktop"

// renovate: datasource=github-releases depName=tectonic-os/tectonic
tect-version "0.6.15" sha256="c2a8290b4fb8ba8accb996862c9004d67e032cedd5349c58a3296ec0aac28a6e"

workflows at="12:30" publish="scheduled" {
    base-sig-probe
    build
    build-disk
    cleanup-registry
    smoke-test
}

sources {
    tectonic-os {
        pin {
            unpinned "This is the trusted source for modules"
            version "main"
            url "https://github.com/tectonic-os/modules/archive/refs/heads/{version}.tar.gz"
        }
    }
}
