schema-version 1
name "Desktop"

// renovate: datasource=github-releases depName=tectonic-os/tectonic
tect-version "0.6.11" sha256="96d85fe69d9e0ef03da4d71ca7dd7debdca61a66b2b000fc91bb0f8b2fa9ce79"

workflows at="12:30" publish="scheduled" {
    base-sig-probe
    build
    build-disk
    cleanup-registry
    smoke-test
}

sources {
    tectonic-os {
        pin {
            unpinned "This is the trusted source for modules"
            version "main"
            url "https://github.com/tectonic-os/modules/archive/refs/heads/{version}.tar.gz"
        }
    }
}
